@use '../../common/var' as var;

.c {
    &-button {
        &__scroll {
            &--top {
                display: block;
                width: 48px;
                height: 64px;
                background: var.$blue-grey-lighten-3;
                border-radius: 8px 0 0 8px;
                position: fixed;
                bottom: 120px;
                right: 0;
                z-index: 3;
            }
        }
        &__content-list--normal {
            display: block;
            background: var.$white;
            font-weight: bold;
            border: solid 1px var.$grey-lighten-1;
            border-radius: 4px;
            padding: 15px 40px;
            margin: 40px auto;
            &:hover {
                background: rgba(var.$light-blue, 0.2);
            }
        }
    }
}
