@use '../../common/var' as var;

.c {
    &-paging {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        padding: 40px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            font-size: 0.85rem;
            border-radius: 50%;
            background: white;
            color: var.$grey;
            &:hover {
                background: var.$grey-lighten-2;
            }
            &.current {
                background: var.$grey;
                color: var.$white;
                font-weight: bold;
                a {
                    &:link,
                    &:visited {
                        color: var.$white;
                    }
                }
            }
            &.arrow {
                background: transparent;
                &:hover {
                    background: var.$grey-lighten-2;
                }
                a {
                    font-size: inherit;
                    i {
                        color: var.$grey;
                    }
                }
            }
            a {
                font-size: inherit;
                &:link,
                &:visited {
                    text-decoration: none;
                }
            }
        }
    }
}