@use '../common/var' as var;
@use '../common/mixin' as m;

@include m.mq(sps) {
    .l {
    &-footer {
        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: var.$blue-grey-darken-4;
            .footer--grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr) ;
                width: 100%;
                padding: 20px 5vw;
                margin: auto;
            .footer-logo {
                grid-column: 1/2;
                margin: auto;
                img {
                    width: 200px;
                    margin: auto;
                }
                .footer-form {
                    position: relative;
                    width: 100%;
                    margin: 20px auto;
                    .material-icons {
                        position: absolute;
                        color: var.$grey-lighten-5;
                        top: 4px;
                        left: 4px;
                    }
                    input[type="text"] {
                        display: block;
                        width: 350px;
                        height: 32px;
                        background: var.$halftone-white-20;
                        border-radius: 4px;
                        transition: all 0.3s ease;
                        color: transparent;
                        margin: auto;
                        &:focus {
                            width: 420px;
                            height: 32px;
                            transition: all 0.3s ease;
                            background: var.$halftone-white-80;
                            outline: none;
                            padding: 5px 28px;
                            font-size: 0.9rem;
                            color: var.$grey-darken-4;
                            margin: auto;
                        }
                    }
                }
            }
            .footer-info {
                padding-left: 0px;
                &.scorelake {
                    border: none;
                }
                .info-list {
                    font-size: 0.85rem;
                    margin-top: 10px;
                    .list-index {
                        color: var.$grey-lighten-5;
                        font-size: inherit;
                        padding: 10px 0;
                        margin-left: 0;
                    }
                    .list-link {
                        width: 100%;
                        padding: 5px 20px 5px 10px;
                        margin: 0;
                        a {
                            display: block;
                            width: 100%;
                            color: var.$grey-lighten-5;
                            font-size: 0.85rem;
                            white-space: nowrap;
                            padding: 10px;
                            &:link,
                            &:visited {
                                background: rgba(var.$blue-grey-darken-5, 0.0);
                            }
                            &:hover {
                                background: var.$blue-grey-darken-3;
                            }
                        }
                    }
                }
            }
        }
        .credit {
            text-align: center;
            font-size: 0.8rem;
            color: var.$grey;
            padding: 15px 0;
        }
    }
    }
    /* =================================================================
    ====================================================================
    ================================================================= */
    @include m.mq(pc) {
    .site-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var.$blue-grey-darken-4;
        &-inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr) ;
            width: 100%;
            padding: 20px 15vw;
            margin: auto;
            .footer-logo {
                grid-column: 1/4;
                padding: 0 30% 40px;
                img {
                    width: 100%;
                }
            }
            .footer-form {
                position: relative;
                width: 100%;
                margin-top: 20px;
                .material-icons {
                    position: absolute;
                    color: var.$grey-lighten-5;
                    top: 4px;
                    left: 4px;
                }
                input[type="text"] {
                    display: block;
                    width: 100%;
                    height: 32px;
                    background: var.$halftone-white-20;
                    border-radius: 4px;
                    transition: all 0.3s ease;
                    color: transparent;
                    margin: auto;
                    &:focus {
                        width: 100%;
                        height: 32px;
                        transition: all 0.3s ease;
                        background: var.$halftone-white-80;
                        outline: none;
                        padding: 5px 28px;
                        font-size: 0.9rem;
                        color: var.$grey-darken-4;
                    }
                }
            }
            .footer-info {
                border-left: solid 1px var.$grey-darken-2;
                padding-left: 10px;
                .info-list {
                    font-size: 0.85rem;
                    .list-index {
                        color: var.$grey-lighten-5;
                        font-size: inherit;
                        padding: 10px;
                    }
                    .list-link {
                        width: 100%;
                        padding: 5px 20px 5px 10px;
                        margin: 0;
                        a {
                            display: block;
                            width: 100%;
                            color: var.$grey-lighten-5;
                            font-size: 0.85rem;
                            padding: 10px;
                            &:link,
                            &:visited {
                                background: rgba(var.$blue-grey-darken-5, 0.25);
                            }
                            &:hover {
                                background: var.$blue-grey-darken-3;
                            }
                        }
                    }
                }
            }
        }
        .credit {
            text-align: center;
            font-size: 0.8rem;
            color: var.$grey;
            padding: 15px 0;
        }

        }
    }
    }
}
/* =================================================================
====================================================================
================================================================= */
@include m.mq(spl) {
    .site-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var.$blue-grey-darken-4;
        &-inner {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px;
            margin: auto;
            .footer-logo {
                grid-column-start: 1;
                grid-column-end: 4;
                img {
                    width: 200px;
                    margin: auto;
                }
                .footer-form {
                    position: relative;
                    width: 100%;
                    margin-top: 20px;
                    .material-icons {
                        position: absolute;
                        color: var.$grey-lighten-5;
                        top: 4px;
                        left: 4px;
                    }
                    input[type="text"] {
                        display: block;
                        width: 100%;
                        height: 32px;
                        background: var.$halftone-white-20;
                        border-radius: 4px;
                        transition: all 0.3s ease;
                        color: transparent;
                        margin: auto;
                        &:focus {
                            width: 100%;
                            height: 32px;
                            transition: all 0.3s ease;
                            background: var.$halftone-white-80;
                            outline: none;
                            padding: 5px 28px;
                            font-size: 0.9rem;
                            color: var.$grey-darken-4;
                        }
                    }
                }
            }
            .footer-info {
                .info-list {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    font-size: 0.85rem;
                    .list-index {
                        color: var.$grey-lighten-5;
                        font-size: inherit;
                        margin: 30px auto 15px;
                    }
                    .list-link-wrapper {
                        display: flex;
                        flex-direction: column;
                        min-width: 100%;
                        row-gap: 5px;
                        .list-link {
                            width: 100%;
                            margin: 0;
                            a {
                                display: block;
                                width: 100%;
                                color: var.$grey-lighten-5;
                                font-size: 0.85rem;
                                text-align: center;
                                white-space: nowrap;
                                padding: 5px;
                                &:link,
                                &:visited {
                                    background: rgba(var.$blue-grey-darken-5, 0.25);
                                }
                                &:hover {
                                    background: var.$blue-grey-darken-3;
                                }
                            }
                        }
                    }
                }
            }
        }
        .credit {
            text-align: center;
            font-size: 0.8rem;
            color: var.$grey;
            padding: 15px 0;
        }
    }
}
/* =================================================================
====================================================================
================================================================= */
@include m.mq(pc) {
.l {
    &-footer {
        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: var.$blue-grey-darken-4;
            .footer--grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr) ;
                width: 100%;
                padding: 20px 5vw;
                margin: auto;
            .footer-logo {
                grid-column: 1/4;
                padding: 0 30% 40px;
                img {
                    width: 280px;
                    margin: auto;
                }
                .footer-form {
                    position: relative;
                    width: 420px;
                    margin: 20px auto;
                    .material-icons {
                        position: absolute;
                        color: var.$grey-lighten-5;
                        top: 4px;
                        left: 4px;
                    }
                    input[type="text"] {
                        display: block;
                        width: 350px;
                        height: 32px;
                        background: var.$halftone-white-20;
                        border-radius: 4px;
                        transition: all 0.3s ease;
                        color: transparent;
                        margin: auto;
                        &:focus {
                            width: 420px;
                            height: 32px;
                            transition: all 0.3s ease;
                            background: var.$halftone-white-80;
                            outline: none;
                            padding: 5px 28px;
                            font-size: 0.9rem;
                            color: var.$grey-darken-4;
                            margin: auto;
                        }
                    }
                }
            }
            .footer-info {
                border-left: solid 1px var.$blue-grey-darken-5;
                padding-left: 10px;
                &.scorelake {
                    border: none;
                }
                .info-list {
                    font-size: 0.85rem;
                    .list-index {
                        color: var.$grey-lighten-5;
                        font-size: inherit;
                        padding: 10px;
                        margin-left: 0;
                    }
                    .list-link {
                        width: 100%;
                        padding: 5px 20px 5px 10px;
                        margin: 0;
                        a {
                            display: block;
                            width: 100%;
                            color: var.$grey-lighten-5;
                            font-size: 0.85rem;
                            white-space: nowrap;
                            padding: 10px;
                            &:link,
                            &:visited {
                                background: rgba(var.$blue-grey-darken-5, 0.25);
                            }
                            &:hover {
                                background: var.$blue-grey-darken-3;
                            }
                        }
                    }
                }
            }
        }
        .credit {
            text-align: center;
            font-size: 0.8rem;
            color: var.$grey;
            padding: 15px 0;
        }
    }
}
/* =================================================================
====================================================================
================================================================= */
@include m.mq(pc) {
    .site-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var.$blue-grey-darken-4;
        &-inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr) ;
            width: 100%;
            padding: 20px 15vw;
            margin: auto;
            .footer-logo {
                grid-column: 1/4;
                padding: 0 30% 40px;
                img {
                    width: 100%;
                }
            }
            .footer-form {
                position: relative;
                width: 100%;
                margin-top: 20px;
                .material-icons {
                    position: absolute;
                    color: var.$grey-lighten-5;
                    top: 4px;
                    left: 4px;
                }
                input[type="text"] {
                    display: block;
                    width: 100%;
                    height: 32px;
                    background: var.$halftone-white-20;
                    border-radius: 4px;
                    transition: all 0.3s ease;
                    color: transparent;
                    margin: auto;
                    &:focus {
                        width: 100%;
                        height: 32px;
                        transition: all 0.3s ease;
                        background: var.$halftone-white-80;
                        outline: none;
                        padding: 5px 28px;
                        font-size: 0.9rem;
                        color: var.$grey-darken-4;
                    }
                }
            }
            .footer-info {
                border-left: solid 1px var.$grey-darken-2;
                padding-left: 10px;
                .info-list {
                    font-size: 0.85rem;
                    .list-index {
                        color: var.$grey-lighten-5;
                        font-size: inherit;
                        padding: 10px;
                    }
                    .list-link {
                        width: 100%;
                        padding: 5px 20px 5px 10px;
                        margin: 0;
                        a {
                            display: block;
                            width: 100%;
                            color: var.$grey-lighten-5;
                            font-size: 0.85rem;
                            padding: 10px;
                            &:link,
                            &:visited {
                                background: rgba(var.$blue-grey-darken-5, 0.25);
                            }
                            &:hover {
                                background: var.$blue-grey-darken-3;
                            }
                        }
                    }
                }
            }
        }
        .credit {
            text-align: center;
            font-size: 0.8rem;
            color: var.$grey;
            padding: 15px 0;
        }

        }
    }
}
}