@use '../../common/var' as var;
@use '../../common/mixin' as m;
/* =================================================================
====================================================================
================================================================= */
@include m.mq(sps) {
    .results-list {
        .list-content {
            padding: 0 20px;
            margin: 20px 0;
            .content-title {
                grid-area: "title";
                color: var.$blue-grey-darken-5;
                padding: 5px 0;
                line-height: 1.6;
                border: solid 1px red;
                &-add {
                    color: var.$dark-khaki;
                    font-size: 0.8rem;
                    font-weight: normal;
                    padding: 5px 0 0;
                    margin: 10px 0 0 20px;
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.8rem;
                padding: 5px 0 0 20px;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 0 0 20px;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
            .content-photo {
                width: 100%;
                background: var.$blue-grey-lighten-4;
                padding: 10px;
                margin-top: 10px;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        .player-prof {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 40px 1fr;
            gap: 10px;
            padding: 0 20px;
            margin-bottom: 20px;
            .prof-name {
                grid-column: 1/3;
                grid-row: 1/2;
                display: flex;
                align-items: center;
                border-bottom: dotted 2px var.$blue-grey-lighten-3;
                font-weight: bold;
                font-size: 1.2rem;
                span {
                    font-weight: normal;
                    font-size: 1rem;
                }
            }
            .column-left {
                grid-column: 1/2;
                grid-row: 2/3;
                .content-data {
                    display: flex;
                    flex-direction: row;
                    font-size: 0.9rem;
                    padding: 5px 0 0 20px;
                    line-height: 1.4;
                    .label {
                        line-height: inherit;
                        font-size: inherit;
                        white-space: nowrap;
                    }
                    .value {
                        line-height: inherit;
                        font-size: inherit;
                        &-add {
                            line-height: inherit;
                            color: var.$dark-khaki;
                            font-size: inherit;
                        }
                    }
                }
            }
            .column-right {
                grid-column: 2/3;
                grid-row: 2/3;
                padding: 5px 0;
                display: flex;
                justify-content: flex-end;
                img {
                    width: 100%;
                    max-width: 120px;
                }
            }
        }
        .cup-prof {
            margin-left: 20px;
            padding: 40px 0 30px;
            .cup-title {
                position: relative;
                margin-bottom: 5px;
                &:before {
                    top: -2.4rem;
                    left: 0px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    background: var.$white;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 8px 10px 4px;
                }
                .area {
                    font-weight: normal;
                    font-size: 0.9rem;
                }
                &.ps {
                    &:before {
                        content: '小学校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.jhs {
                    &:before {
                        content: '中学校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.hs {
                    &:before {
                        content: '高校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.unv {
                    &:before {
                        content: '大学';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.soc {
                    &:before {
                        content: '社会人';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.pro {
                    &:before {
                        content: '独立';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.npb {
                    &:before {
                        content: 'NPB';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 20px 0 0;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
        .stadium-prof {
            margin-left: 20px;
            padding: 20px 0 30px;
            .staduim-name {
                position: relative;
                margin-bottom: 5px;
                &:before {
                    top: -2.4rem;
                    left: 0px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    background: var.$white;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 8px 10px 4px;
                }
                .area {
                    font-weight: normal;
                    font-size: 0.9rem;
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    display: flex;
                    align-items: center;
                    i {
                        margin-left: 10px;
                        font-size: 1.2rem;
                        color: var.$light-blue;
                    }
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 20px 0 0;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
    }
}
/* =================================================================
====================================================================
================================================================= */
@include m.mq(spl) {
    .results-list {
        .list-content {
            padding: 0 20px;
            margin: 20px 0;
            .content-title {
                grid-area: "title";
                color: var.$blue-grey-darken-5;
                padding: 5px 0;
                line-height: 1.6;
                border: solid 1px red;
                &-add {
                    color: var.$dark-khaki;
                    font-size: 0.8rem;
                    font-weight: normal;
                    padding: 5px 0 0;
                    margin: 10px 0 0 20px;
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.8rem;
                padding: 5px 0 0 20px;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 0 0 20px;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
            .content-photo {
                width: 100%;
                background: var.$blue-grey-lighten-4;
                padding: 10px;
                margin-top: 10px;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        .player-prof {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 40px 1fr;
            gap: 10px;
            padding: 0 20px;
            margin-bottom: 20px;
            .prof-name {
                grid-column: 1/3;
                grid-row: 1/2;
                display: flex;
                align-items: center;
                border-bottom: dotted 2px var.$blue-grey-lighten-3;
                font-weight: bold;
                font-size: 1.2rem;
                span {
                    font-weight: normal;
                    font-size: 1rem;
                }
            }
            .column-left {
                grid-column: 1/2;
                grid-row: 2/3;
                .content-data {
                    display: flex;
                    flex-direction: row;
                    font-size: 0.9rem;
                    padding: 5px 0 0 20px;
                    line-height: 1.4;
                    .label {
                        line-height: inherit;
                        font-size: inherit;
                        white-space: nowrap;
                    }
                    .value {
                        line-height: inherit;
                        font-size: inherit;
                        &-add {
                            line-height: inherit;
                            color: var.$dark-khaki;
                            font-size: inherit;
                        }
                    }
                }
            }
            .column-right {
                grid-column: 2/3;
                grid-row: 2/3;
                padding: 5px 0;
                display: flex;
                justify-content: flex-end;
                img {
                    width: 100%;
                    max-width: 120px;
                }
            }
        }
        .cup-prof {
            margin-left: 20px;
            padding: 40px 0 30px;
            .cup-title {
                position: relative;
                margin-bottom: 5px;
                &:before {
                    top: -2.4rem;
                    left: 0px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    background: var.$white;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 8px 10px 4px;
                }
                .area {
                    font-weight: normal;
                    font-size: 0.9rem;
                }
                &.ps {
                    &:before {
                        content: '小学校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.jhs {
                    &:before {
                        content: '中学校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.hs {
                    &:before {
                        content: '高校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.unv {
                    &:before {
                        content: '大学';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.soc {
                    &:before {
                        content: '社会人';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.pro {
                    &:before {
                        content: '独立';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.npb {
                    &:before {
                        content: 'NPB';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 20px 0 0;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
        .stadium-prof {
            margin-left: 20px;
            padding: 20px 0 30px;
            .staduim-name {
                position: relative;
                margin-bottom: 5px;
                &:before {
                    top: -2.4rem;
                    left: 0px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    background: var.$white;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 8px 10px 4px;
                }
                .area {
                    font-weight: normal;
                    font-size: 0.9rem;
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    display: flex;
                    align-items: center;
                    i {
                        margin-left: 10px;
                        font-size: 1.2rem;
                        color: var.$light-blue;
                    }
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 20px 0 0;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
    }
}
/* =================================================================
====================================================================
================================================================= */
 @include m.mq(tab) {
    .results-list {
        .list-content {
            padding: 0 20px;
            margin: 20px 0;
            &.list-column {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .column-left {
                    border: solid 1px red;
                }
                .column-right {
                    border: solid 1px red;
                }
            }
            .content-title {
                color: var.$blue-grey-darken-5;
                padding: 5px 0;
                margin: 10px 0 0;
                &-add {
                    color: var.$dark-khaki;
                    font-size: 0.9rem;
                    font-weight: normal;
                    padding: 5px 0 0;
                    margin: 10px 0 0 20px;
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0 0 20px;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                    color: var.$blue-grey;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 0 0 20px;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.9rem;
                    white-space: nowrap;
                    padding: 2px 10px;
                    margin-top: 5px;
                }
                .content-status-data {
                    font-size: 0.9rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
        .player-prof {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 40px 1fr;
            gap: 10px;
            padding: 0 20px;
            margin-bottom: 20px;
            .prof-name {
                grid-column: 1/3;
                grid-row: 1/2;
                display: flex;
                align-items: center;
                border-bottom: dotted 2px var.$blue-grey-lighten-3;
                font-weight: bold;
                font-size: 1.2rem;
                span {
                    font-weight: normal;
                    font-size: 1rem;
                }
            }
            .column-left {
                grid-column: 1/2;
                grid-row: 2/3;
                .content-data {
                    display: flex;
                    flex-direction: row;
                    font-size: 0.9rem;
                    padding: 5px 0 0 20px;
                    line-height: 1.4;
                    .label {
                        line-height: inherit;
                        font-size: inherit;
                        white-space: nowrap;
                    }
                    .value {
                        line-height: inherit;
                        font-size: inherit;
                        &-add {
                            line-height: inherit;
                            color: var.$dark-khaki;
                            font-size: inherit;
                        }
                    }
                }
            }
            .column-right {
                grid-column: 2/3;
                grid-row: 2/3;
                padding: 5px 0;
                display: flex;
                justify-content: flex-end;
                img {
                    width: 100%;
                    max-width: 120px;
                }
            }
        }
        .cup-prof {
            margin-left: 20px;
            padding: 40px 0 30px;
            .cup-title {
                position: relative;
                margin-bottom: 5px;
                &:before {
                    top: -2.4rem;
                    left: 0px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    background: var.$white;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 8px 10px 4px;
                }
                .area {
                    font-weight: normal;
                    font-size: 0.9rem;
                }
                &.ps {
                    &:before {
                        content: '小学校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.jhs {
                    &:before {
                        content: '中学校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.hs {
                    &:before {
                        content: '高校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.unv {
                    &:before {
                        content: '大学';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.soc {
                    &:before {
                        content: '社会人';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.pro {
                    &:before {
                        content: '独立';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.npb {
                    &:before {
                        content: 'NPB';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 20px 0 0;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
        .stadium-prof {
            margin-left: 20px;
            padding: 20px 0 30px;
            .staduim-name {
                position: relative;
                margin-bottom: 5px;
                &:before {
                    top: -2.4rem;
                    left: 0px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    background: var.$white;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 8px 10px 4px;
                }
                .area {
                    font-weight: normal;
                    font-size: 0.9rem;
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    display: flex;
                    align-items: center;
                    i {
                        margin-left: 10px;
                        font-size: 1.2rem;
                        color: var.$light-blue;
                    }
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 20px 0 0;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
     }
 }
 /* =================================================================
====================================================================
================================================================= */
@include m.mq(pc) {
    .results-list {
        .list-content {
            padding: 0 20px;
            margin: 20px 0;
            &.list-column {
                display: grid;
                grid-template:
                    "title title"
                    "left right";
                grid-template-columns: 20% 1fr;
                .column-left {
                    grid-area: left;
                    margin-top: 10px;
                }
                .column-right {
                    grid-area: right;
                    margin-top: 10px;
                }
            }
            .content-title {
                color: var.$blue-grey-darken-5;
                padding: 5px 0;
                margin: 0;
                grid-area: title;
                &-add {
                    color: var.$dark-khaki;
                    font-size: 0.9rem;
                    font-weight: normal;
                    padding: 5px 0 0;
                    margin: 10px 0 0 20px;
                }
            }
            .content-photo {
                &.team {
                    img {
                        width: 240px;
                    }
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0 0 20px;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                    color: var.$blue-grey;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 0 0 20px;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.9rem;
                    white-space: nowrap;
                    padding: 2px 10px;
                    margin-top: 5px;
                }
                .content-status-data {
                    font-size: 0.9rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
        .player-prof {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 40px 1fr;
            gap: 10px;
            padding: 0 20px;
            margin-bottom: 20px;
            .prof-name {
                grid-column: 1/3;
                grid-row: 1/2;
                display: flex;
                align-items: center;
                border-bottom: dotted 2px var.$blue-grey-lighten-3;
                font-weight: bold;
                font-size: 1.2rem;
                span {
                    font-weight: normal;
                    font-size: 1rem;
                }
            }
            .column-left {
                grid-column: 1/2;
                grid-row: 2/3;
                .content-data {
                    display: flex;
                    flex-direction: row;
                    font-size: 0.9rem;
                    padding: 5px 0 0 20px;
                    line-height: 1.4;
                    .label {
                        line-height: inherit;
                        font-size: inherit;
                        white-space: nowrap;
                    }
                    .value {
                        line-height: inherit;
                        font-size: inherit;
                        &-add {
                            line-height: inherit;
                            color: var.$dark-khaki;
                            font-size: inherit;
                        }
                    }
                }
            }
            .column-right {
                grid-column: 2/3;
                grid-row: 2/3;
                padding: 5px 0;
                display: flex;
                justify-content: flex-end;
                img {
                    width: 100%;
                    max-width: 120px;
                }
            }
        }
        .cup-prof {
            margin-left: 20px;
            padding: 40px 0 30px;
            .cup-title {
                position: relative;
                margin-bottom: 5px;
                &:before {
                    top: -2.4rem;
                    left: 0px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    background: var.$white;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 8px 10px 4px;
                }
                .area {
                    font-weight: normal;
                    font-size: 0.9rem;
                }
                &.ps {
                    &:before {
                        content: '小学校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.jhs {
                    &:before {
                        content: '中学校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.hs {
                    &:before {
                        content: '高校';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.unv {
                    &:before {
                        content: '大学';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.soc {
                    &:before {
                        content: '社会人';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.pro {
                    &:before {
                        content: '独立';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
                &.npb {
                    &:before {
                        content: 'NPB';
                        color: var.$light-blue;
                        border: solid 1px var.$light-blue;
                    }
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 20px 0 0;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
        .stadium-prof {
            margin-left: 20px;
            padding: 20px 0 30px;
            .staduim-name {
                position: relative;
                margin-bottom: 5px;
                &:before {
                    top: -2.4rem;
                    left: 0px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    background: var.$white;
                    font-size: 0.8rem;
                    border-radius: 4px;
                    padding: 8px 10px 4px;
                }
                .area {
                    font-weight: normal;
                    font-size: 0.9rem;
                }
            }
            .content-data {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
                padding: 5px 0;
                line-height: 1.4;
                .label {
                    line-height: inherit;
                    font-size: inherit;
                    white-space: nowrap;
                }
                .value {
                    line-height: inherit;
                    font-size: inherit;
                    display: flex;
                    align-items: center;
                    i {
                        margin-left: 10px;
                        font-size: 1.2rem;
                        color: var.$light-blue;
                    }
                    &-add {
                        line-height: inherit;
                        color: var.$dark-khaki;
                        font-size: inherit;
                    }
                }
            }
            .content-status {
                display: flex;
                align-items: center;
                padding: 5px 20px 0 0;
                line-height: 1.6;
                .content-status-title {
                    border: solid 1px var.$red;
                    border-radius: 4px;
                    background: var.$white;
                    color: var.$red;
                    line-height: inherit;
                    font-size: 0.8rem;
                    white-space: nowrap;
                    padding: 5px 10px;
                }
                .content-status-data {
                    font-size: 0.8rem;
                    line-height: inherit;
                    margin-left: 10px;
                }
            }
        }
     }
 }